<h2>All Socities</h2>
<br>
<div class="row magic all_societies">
<% @societies.each do |society| %>
    <div class="test">
                    <%= link_to controller: 'society', action: 'show', :id => society.id do %>
                       <div class="society_box"> 
                           <div id="society_img">
                                <%= image_tag society.avatar_url(:display) %>
                                <!--<%= image_tag("society_img.png", :alt => "society_img") %>-->
                            </div>
                            <div id="society_name">
                                <h5><%= society.name.truncate_words(2) %></h5>
                            </div>
                        </div>
                    <% end %>
                </div>
<% end %>
</div>
<p></p><%= link_to "Create new society", controller: 'society', action: 'new' %></p>
<br>
<p>When you create a society you automatically become an admin. You cannot leave a society before you resign as an admin. There is currently no way to stop being an admin, so do not be surprised if you cannot leave the group.</p>