<p></p><%= link_to "Create new society", controller: 'society', action: 'new' %></p>

<p>When you create a society you automatically become an admin. you cannot leave society before you resign as admin. there is currently no way to stop being an admin, sodon't be surprised if you cannot leave the group</p>

<% @societies.each do |society| %>
    <%= society.name %>
    <%= society.description %>
    </br>
    Is Member: <%= society.has_member(session[:user_id]) %>
    Is Admin: <%= society.has_admin(session[:user_id]) %>
    <p>
        <% str = !society.has_member(session[:user_id]) ? "Join Society" : "Leave Society" %>
        <%= link_to str, controller: 'society', action: 'join_leave', id: society.id %>
    </p>
    </br>
<% end %>