<div class="create_society_form_or_whatever"> <!-- Jack, tag-naming is for you -->
    <h2>Create a new society</h2>
    <div id="new_society_container">
    <%= form_for(:society, :url => {:controller => 'society', :action => 'create'}) do |f| %>
        <p> Name: </p><%= f.text_field :name %>
        <p> Description: </p><%= f.text_area :description, cols: 20, rows: 10 %>
        <p> Image: </p><%= f.file_field :avatar %>
        
        
        <!-- this is temporary somebody fix this abomination as quick as possible -->
        <p>Interests:</p>
        <p id="interest_info">Please choose 5 interests that are inline with the society. This allows us the match users with your society and gain you more members</p>
        
        <%
            @groups = {}
            @IG = InterestGroup.all
            @IG.each do |ig|
                interests = ig.get_interests
                @groups[ig.name] = interests
            end
        %>
        
        <% count = 0; 5.times do %>
            <!-- cannot be called interests -->
            <p>
                <select id="<%= 'selected_interests_id_'+count.to_s %>" name="<%= 'selected_interests[id_'+count.to_s+']' %>">
                    <% @groups.each do |gname, interests| %>
                        <optgroup label="<%= gname %>">
                            <% interests.each do |interest| %>
                                <option value="<%= interest.id %>"><%= interest.name %></option>
                            <% end %>
                        </optgroup>
                    <% end %>
                </select>
            </p>
            <% count += 1 %>
        <% end %>
        
        
        <input type="hidden" name="interest_count" value=<%= count.to_s %> />
        
        <%= f.submit :Create, :class => "btn btn-danger button" %>
    <% end %>
    </div>
</div>

