<div class="row">
<div class="col-md-2">
        <%= image_tag @society.avatar_url(:display), :class => "profile_image" %>
    </div>
    <div class="col-md-10">
        <div class="left" id="society_details">
        <h2><%= @society.name %></h2>
        <p><%= @society.description %></p>
        <button class="btn btn-danger button join_society">
            <% str = !@society.has_member(session[:user_id]) ? "Join Society" : "Leave Society" %>
            <%= link_to str, :controller=> :society, :action=> :join_leave, id: @society.id %>
        </button>
    </div>
    </div>
</div>
<div class="row">
    <div class="col-md-8">
        <h3 class="wall_heading">Recent activity</h3>
        <div class="wall">
            <div class="wallPostContainer">
            <!--<div class="wallPost">-->
            <!--    <div class="wallPost_top">-->
            <!--        <img src="http://combiboilersleeds.com/image.php?pic=/images/profile/profile-4.jpg" class="message_pic">-->
            <!--    </div>-->
            <!--    <p class="post_title">Adam posted</p>-->
            <!--    <p class="post_main">So glad i managed to find this society, ace stuff and looking forward to the upcoming events. Holla at me if you wanna skate.</p>-->
            <!--    <p class="post_date">Yesterday, 5pm</p>-->
            <!--</div>-->
            <!--<div class="wallPost">-->
            <!--    <div class="wallPost_top">-->
            <!--        <img src="http://combiboilersleeds.com/image.php?pic=/images/profile/profile-4.jpg" class="message_pic">-->
            <!--    </div>-->
            <!--    <p class="post_title">Adam posted</p>-->
            <!--    <p class="post_main">So glad i managed to find this society, ace stuff and looking forward to the upcoming events. Holla at me if you wanna skate.</p>-->
            <!--    <p class="post_date">Yesterday, 5pm</p>-->
            <!--</div>-->
            <!--<div class="wallPost">-->
            <!--    <div class="wallPost_top">-->
            <!--        <img src="http://combiboilersleeds.com/image.php?pic=/images/profile/profile-4.jpg" class="message_pic">-->
            <!--    </div>-->
            <!--    <p class="post_title">Adam posted</p>-->
            <!--    <p class="post_main">So glad i managed to find this society, ace stuff and looking forward to the upcoming events. Holla at me if you wanna skate.</p>-->
            <!--    <p class="post_date">Yesterday, 5pm</p>-->
            <!--</div>-->
            <% @posts.each do |post| %>
                <% @sender = User.find(post.user_id) %>
                <div class="wallPost">
                    <div class="wallPost_top">
                        <%= image_tag @sender.avatar_url(:display), :class => "message_pic" %>
                    </div>
                    <p class="post_title"><%= @sender.name.capitalize %></p>
                    <p class="post_main"><%= post.body %></p>
                    <p class="post_date"><%= post.created_at.strftime("%Y/%m/%d") %></p>
                </div>
            <% end %>
            </div>
            <div class="wallForm">
                <%= form_for(:societyWall, :url => {:controller => :posts, :action => :society_send}) do %>
                <%= text_field_tag :post %>
                <%= hidden_field_tag :society_id, @society.id %>
                <%= submit_tag :Post, :class => "btn btn-danger button submit" %>
                <% end %>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <h4>Upcoming Events:</h4>
        
        <% if @events.length > 0 %>
            <div class="user-mini-container">
                <% 
                    cur = 0
                    max_events = 25
                %>
                <% @events.each do |event| %>
                    <% cur += 1 %>
                    <% break if cur > max_events %>
                    <%= link_to :controller => :event, :action => :show, :id => event.id do %>
                        <div class="user-mini-element">
                            <div class="user-mini-info">
                                <div class="date date-mini">
                                	<span class="binds"></span>
                                	<span class="month"><%= event.date.strftime("%B")[0..2] %></span>
                                	<h1 class="day"><%= event.date.day %></h1>
                                </div>
                                <p><%= event.name %></p>
                            </div>
                        </div>
                    <% end %>
                <% end %>
            </div> 
        <% else %>
        <p>No Upcoming Events</p>
        <% end %>
        
        <!-- manage admins -->
        <% if @is_admin and @add_remove.length > 0 %>
        <h4>Manage Admin Status</h4>
            <div id="user-mini-section">
                <div class="user-mini-container">
                    <% @add_remove.each do |usr| %>
                            <div class="user-mini-element" user_id="<%= usr.id %>">
                                <%= link_to :controller => :user, :action => :show, :id => usr.id do %>
                                    <div class="user-mini-info">
                                        <%= image_tag usr.avatar_url(:display), :class => "user-mini-image" %>
                                        <p><%= usr.name %> <%= usr.surname %></p>
                                    </div>
                                <% end %>
                                <p class="special-action remove"><a href="#" id="add_remove"><span class="admin_msg"><%= if !@admins.include? usr then "Add admin" else "Remove Admin" end %></span></a></p>
                            </div>
                    <% end %>
                </div>
            </div>
        <% end %>
    </div>
</div>



<!--<div id='calendar-wrapper' style='width: 100%; margin-right:auto; margin-left: auto'>-->
<!--    <div id='calendar'>-->
<!--    </div>-->
<!--</div>-->



<script>
    $(document).ready(function() {
    
        function render(event, element) {
            console.log("RENDER");
            element.find('.fc-content').append('<div class="fc-separator"></div><p class="fc-description">'+ event.description + '</p></div>');
        }
        
        $('#calendar').fullCalendar({
            header: {
                left: 'prev',
                center: 'title',
                right: 'next',
            },
    		defaultView: 'basicWeek',
    		height: 500,
            timeFormat: 'H(:mm)', // uppercase H for 24-hour clock
            
            
    		
    		events: <%= @events_json %>,
    		
    	    eventRender: render,
        });
    });
</script>


<script>
    $(document).ready(function() {
        $(".user-mini-container .user-mini-element").mouseenter(function() {
            console.log("enter");
            $(this).find(".special-action").show();
        })
        
        $(".user-mini-container .user-mini-element").mouseleave(function() {
            $(this).find(".special-action").hide();
        })
        $(".special-action").click(function(e) {
            
            if (!$(this).hasClass("remove")) {
                return;
            }
            
            e.preventDefault();
            var parent = $(this).parent();
            var id = parent.attr("user_id");
            
            switch_admin_status(id);
            var text = $(this).find(".admin_msg").text();
            var newText = ""
            if (text == "Remove Admin") {
                newText = "Add Admin";
            } else {
                newText = "Remove Admin";
            }
            $(this).find(".admin_msg").text(newText);
        });
    })
    
    function switch_admin_status(id) {
        url = '/society/switch_admin'
        $.ajax({
    		type: 'POST',
    		url: url,
            data: {
                society_id: <%= @society.id %>,
                user_id: id,
            },
            success: function() { 
                console.log("admin switched");
            },
            
            error: function(xhr, ajaxOptions, thrownError) {
                alert(xhr.status)
                alert(xhr.statusText)
                alert(xhr.responseText)	
            }
    	});
    }
</script>