<h3>Please choose or edit your interests</h3>
<head>
    <script>
        $(document).ready(function(){
            $("#sports").click(function(){
                $("#sports_show").show(0);
                
            }); 
                $("#science").click(function(){
                
                $("#science_show").show(0);
                
            }); 
                $("#cooking").click(function(){
                $("#cooking_show").show(0);
                
            }); 
                $("#music").click(function(){
                $("#music_show").show(0);
                
            }); 
                $("#culture").click(function(){
                $("#culture_show")show(0);
                
            }); 
                $("#health").click(function(){
                $("#health_show")show(0);
                
            }); 
                $("#social").click(function(){
                $("#social_show")show(0);
                
            });
        });
    </script>
</head>

    

<div style= "padding-bottom: 10px">    
<ul style ="list-style-type: none; margin: 0; padding: 0; overflow: hidden;">
  <li style= "float: left;"><a href="#sports" id="sports" style= "display: block; padding: 8px; width: 127px; background-color: #dddddd;">sports</a></li>
  <li style= "float: left;"><a href="#science" id="science" style= "display: block; padding: 8px; width: 127px; background-color: #dddddd;">science</a></li>
  <li style= "float: left;"><a href="#cooking" id="cooking" style= "display: block; padding: 8px; width: 127px; background-color: #dddddd;">cooking</a></li>
  <li style= "float: left;"><a href="#music" id="music" style= "display: block; padding: 8px; width: 127px; background-color: #dddddd;">music</a></li>
  <li style= "float: left;"><a href="#culture" id="culture" style= "display: block; padding: 8px; width: 127px; background-color: #dddddd;">culture</a></li>
  <li style= "float: left;"><a href="#health" id="health" style= "display: block; padding: 8px; width: 127px; background-color: #dddddd;">health</a></li>
  <li style= "float: left;"><a href="#social" id="social" style= "display: block; padding: 8px; width: 127px; background-color: #dddddd;">social</a></li>
</ul>
</div>

           <div style="text-align: left; padding-left: 20px; margin-bottom:100px;">
            <%= form_tag update_interests_url, :id => @user.id do %>
                    <div id="sports_show" style=" display:none; padding-left: 20px; padding-bottom: 20px; margin-bottom:100px;" class="col-lg-4">
                    <p>Sports</p>
                    <div class = "row" style="table-layout: fixed;">
                    <% @interests1.each do |interest| %>
                        <div class="col-lg-4">
                        <% checked = @user_interests.include? interest %>
                        <input type="checkbox" style="opacity:0;" <%= check_box_tag "interests[]", interest.id, checked, {:multiple => true} %>>
                        <label ><%= interest.name %></label>
                        <%= image_tag("Interests/#{interest.name}.jpg?id=#{interest.name}")%>
                        </div>
                        <% end %>
                    </div>
                    </div>
                    <div id="science_show" style=" padding-left: 0px; padding-top: 20px; margin-bottom:100px;" class="col-md-12">
                    <p>Science</p>
                    <div class="row">
                    <% @interests2.each do |interest| %>
                        <div class="col-md-3">
                        <% checked = @user_interests.include? interest %>
                        <input type="checkbox" style="opacity:0; width: 200px; height:200px" <%= check_box_tag "interests[]", interest.id, checked, {:multiple => true} %>
                        <label style="padding-left: 20px;padding-bottom:30px margin-bottom:20px"><%= interest.name %></label>
                        <%= image_tag("Interests/#{interest.name}.jpg?id=#{interest.name}")%>
                        </div>
                        <% end %>
                    </div>
                    </div>
                    <div id="cooking_show" style=" display:none; padding-left: 20px; padding-bottom: 20px; margin-bottom:100px;" class="checkbox_wrapper">
                    <p>Cooking</p>
                    <div class = "row">
                    <% @interests3.each do |interest| %>
                        <div class="col-md-4">
                        <% checked = @user_interests.include? interest %>
                        <input type="checkbox" style="opacity:0;" <%= check_box_tag "interests[]", interest.id, checked, {:multiple => true} %>>
                        <label ><%= interest.name %></label>
                        <%= image_tag("Interests/#{interest.name}.jpg?id=#{interest.name}" )%>
                        </div>
                        <% end %>
                    </div>
                    </div>
                    <div id="music_show" style=" display:none; padding-left: 20px; padding-bottom: 20px; margin-bottom:100px;" class="checkbox_wrapper">
                    <p>Music</p>
                    <div class = "row">
                    <% @interests4.each do |interest| %>
                        <div class="col-md-4">
                        <% checked = @user_interests.include? interest %>
                        <input type="checkbox" style="opacity:0;" <%= check_box_tag "interests[]", interest.id, checked, {:multiple => true} %>>
                        <label ><%= interest.name %></label>
                        <%= image_tag("Interests/#{interest.name}.jpg?id=#{interest.name}" )%>
                        </div>
                        <% end %>
                    </div>
                    </div>
                    <div id="culture_show" style=" display:none; padding-left: 20px; padding-bottom: 20px; margin-bottom:100px;" class="checkbox_wrapper">
                    <p>Culture</p>
                    <div class = "row">
                    <% @interests5.each do |interest| %>
                        <div class="col-md-4">
                        <% checked = @user_interests.include? interest %>
                        <input type="checkbox" style="opacity:0;" <%= check_box_tag "interests[]", interest.id, checked, {:multiple => true} %>>
                        <label ><%= interest.name %></label>
                        <%= image_tag("Interests/#{interest.name}.jpg?id=#{interest.name}")%>
                        </div>
                        <% end %>
                    </div>
                    </div>
                    <div id="health_show" style=" display:none; padding-left: 20px; padding-bottom: 20px; margin-bottom:100px;" class="checkbox_wrapper">
                    <p>Health</p>
                    <div class = "row">
                    <% @interests6.each do |interest| %>
                        <div class="col-md-4">
                        <% checked = @user_interests.include? interest %>
                        <input type="checkbox" style="opacity:0;" <%= check_box_tag "interests[]", interest.id, checked, {:multiple => true} %>>
                        <label ><%= interest.name %></label>
                        <%= image_tag("Interests/#{interest.name}.jpg?id=#{interest.name}")%>
                        </div>
                        <% end %>
                    </div>
                    </div>
                    <div id="social_show" style="display:none; padding-left: 20px; padding-bottom: 20px; margin-bottom:100px;" class="col-md-6">
                    <p>Social</p>
                    <div class = "row">
                    <% @interests7.each do |interest| %>
                        <div class="col-md-4">
                        <% checked = @user_interests.include? interest %>
                        <input type="checkbox" style="opacity:0;" <%= check_box_tag "interests[]", interest.id, checked, {:multiple => true} %>>
                        <label ><%= interest.name %></label>
                        <%= image_tag("Interests/#{interest.name}.jpg?id=#{interest.name}")%>
                        </div>
                        <% end %>
                    </div>
                    </div>
                <%= button_tag(type: "submit", class: "btn btn-default") do %>
                Update list <i class="icon-repeat"></i>
                <% end %>
            <% end %>
            </div>

            
