<h3>Please choose or edit your interests</h3>
<div style="text-align: left; padding-left: 20px; margin-bottom:100px">
    <%= form_tag update_interests_url, :id => @user.id do %>
        <% @interests.each do |interest_group, interests| %>
            <p><%= interest_group.name %>:</p>
            <% interests.each do |interest| %>
                <div class="checkbox_wrapper">
                <% checked = @user_interests.include? interest %>
                <input type="checkbox" style="opacity:0" <%= check_box_tag "interests[]", interest.id, checked, {:multiple => true} %>
                <label><%= interest.name %></label>
                </div>
            <% end %>
        <% end %>
        <%= submit_tag :Update %>
    <% end %>
    
    
    <div class="checkbox_wrapper">
    <input type="checkbox" style="opacity:0"/>
    <label>asd</label>
    </div>

</div>
