<h3>Please choose or edit your interests</h3>
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
</head>
<div>
    

<div class= "col-md-12" style= "padding-bottom: 10px">    
<ul class="row col-md-12">
  <li class="col-md-1" style= "min-width:115px; padding: 0px; background-color: #dddddd;"><a id="sports"  >sports</a></li>
  <li class="col-md-1" style= "min-width:115px; padding: 0px; background-color: #dddddd;"><a id="science" >science</a></li>
  <li class="col-md-1" style= "min-width:115px; padding: 0px; background-color: #dddddd;"><a id="cooking" >cooking</a></li>
  <li class="col-md-1" style= "min-width:115px; padding: 0px; background-color: #dddddd;"><a id="music" >music</a></li>
  <li class="col-md-1" style= "min-width:115px; padding: 0px; background-color: #dddddd;"><a id="culture" >culture</a></li>
  <li class="col-md-1" style= "min-width:115px; padding: 0px; background-color: #dddddd;"><a id="health"  >health</a></li>
  <li class="col-md-1" style= "min-width:115px; padding: 0px; background-color: #dddddd;"><a id="social" >social</a></li>
</ul>
<script>
$(document).ready(function(){

 $("#sports_show").hide();
 $("#science_show").hide();
 $("#cooking_show").hide();
 $("#music_show").hide();
 $("#culture_show").hide();
 $("#health_show").hide();
 $("#social_show").hide();
 
 $('#sports').click(function(){
 $(".active").hide();
 $(".active").removeClass("active");
 $("#sports_show").show();
 $("#sports_show").addClass("active");
 });
 $('#science').click(function(){
 $(".active").hide();
 $(".active").removeClass("active");
 $("#science_show").show();
 $("#science_show").addClass("active");
 });
 $('#cooking').click(function(){
 $(".active").hide();
 $(".active").removeClass("active");
 $("#cooking_show").show();
 $("#cooking_show").addClass("active");
 });
 $('#music').click(function(){
 $(".active").hide();
 $(".active").removeClass("active");
 $("#music_show").show();
 $("#music_show").addClass("active");
 });
 $('#culture').click(function(){
 $(".active").hide();
 $(".active").removeClass("active");
 $("#culture_show").show();
 $("#culture_show").addClass("active");
 });
 $('#health').click(function(){
 $(".active").hide();
 $(".active").removeClass("active");
 $("#health_show").show();
 $("#health_show").addClass("active");
 });
 $('#social').click(function(){
 $(".active").hide();
 $(".active").removeClass("active");
 $("#social_show").show();
 $("#social_show").addClass("active");
 });

});

</script>
</div>

           <div style="text-align: left; padding-left: 20px; margin-bottom:100px;">
            <%= form_tag update_interests_url, :id => @user.id do %>
                    <div id="sports_show" style=" padding-left: 0px; padding-top: 20px; margin-bottom:100px; " class="col-md-12">
                    <p>Sports</p>
                    <div class = "row" style="table-layout: fixed;">
                    <% @interests1.each do |interest| %>
                       <div class="col-md-4 picture">
                        <% checked = @user_interests.include? interest %>
                        <% a=interest.name.tr(" ","").downcase %>
                        <input type="checkbox" id= "picture" class="img" <%= check_box_tag "interests[]", interest.id, checked, {:multiple => true} %>
                        <label for=picture class="lbl">
                        <%= interest.name %>
                        <br>
                        <%= image_tag("Interests/#{a}.jpg?id=#{a}", :class => "choose_img") %>
                        </label>
                        </div>
                         <script>
                          var list = document.getElementsByClassName("img");
                          for (var i = 0; i < list.length; i++) {
                           list[i].setAttribute("id", "picture" + i);
                          }
                          var list = document.getElementsByClassName("lbl");
                          for (var i = 0; i < list.length; i++) {
                           list[i].setAttribute("for", "picture" + i);
                          }
                        </script>
                        <% end %>
                    </div>
                    </div>
                    <div id="science_show" style="padding-left: 0px; padding-top: 20px; margin-bottom:100px; " class="col-md-12">
                    <p>Science</p>
                    <div class="row">
                    <% @interests2.each do |interest| %>
                       <div class="col-md-4">
                        <% checked = @user_interests.include? interest %>
                        <% a=interest.name.tr(" ","").downcase %>
                        <input type="checkbox" id= "picture" class="img" <%= check_box_tag "interests[]", interest.id, checked, {:multiple => true} %>
                        <label for=picture class="lbl">
                        <%= interest.name %>
                        <br>
                        <%= image_tag("Interests/#{a}.jpg?id=#{a}")%>
                        </label>
                        </div>
                         <script>
                          var list = document.getElementsByClassName("img");
                          for (var i = 0; i < list.length; i++) {
                           list[i].setAttribute("id", "picture" + i);
                          }
                          var list = document.getElementsByClassName("lbl");
                          for (var i = 0; i < list.length; i++) {
                           list[i].setAttribute("for", "picture" + i);
                          }
                        </script>
                      
                        <% end %>
                    </div>
                    </div>
                    <div id="cooking_show" style="padding-left: 0px; padding-top: 20px; margin-bottom:100px; " class="col-md-12">
                    <p>Cooking</p>
                    <div class = "row">
                    <% @interests3.each do |interest| %>
                       <div class="col-md-4">
                        <% checked = @user_interests.include? interest %>
                        <% a=interest.name.tr(" ","")%>
                        <% a.downcase%>
                      
                        <input type="checkbox" id= "picture" class="img" <%= check_box_tag "interests[]", interest.id, checked, {:multiple => true} %>
                        <label for=picture class="lbl">
                        <%= interest.name %>
                        <br>
                        <%= image_tag("Interests/#{a}.jpg?id=#{a}")%>
                        </label>
                        </div>
                         <script>
                          var list = document.getElementsByClassName("img");
                          for (var i = 0; i < list.length; i++) {
                           list[i].setAttribute("id", "picture" + i);
                          }
                          var list = document.getElementsByClassName("lbl");
                          for (var i = 0; i < list.length; i++) {
                           list[i].setAttribute("for", "picture" + i);
                          }
                        </script>
                       
                        <% end %>
                    </div>
                    </div>
                    <div id="music_show" style="padding-left: 0px; padding-top: 20px; margin-bottom:100px; " class="col-md-12">
                    <p>Music</p>
                    <div class = "row">
                    <% @interests4.each do |interest| %>
                     <div class="col-md-4">
                        <% checked = @user_interests.include? interest %>
                        <% a=interest.name.tr(" ","").downcase %>
                   
                        <input type="checkbox" id= "picture" class="img" <%= check_box_tag "interests[]", interest.id, checked, {:multiple => true} %>
                        <label for=picture class="lbl">
                        <%= interest.name %>
                        <br>
                        <%= image_tag("Interests/#{a}.jpg?id=#{a}")%>
                        </label>
                        </div>
                         <script>
                          var list = document.getElementsByClassName("img");
                          for (var i = 0; i < list.length; i++) {
                           list[i].setAttribute("id", "picture" + i);
                          }
                          var list = document.getElementsByClassName("lbl");
                          for (var i = 0; i < list.length; i++) {
                           list[i].setAttribute("for", "picture" + i);
                          }
                        </script>
                       
                        <% end %>
                    </div>
                    </div>
                    <div id="culture_show" style="padding-left: 0px; padding-top: 20px; margin-bottom:100px; " class="col-md-12">
                    <p>Culture</p>
                    <div class = "row">
                    <% @interests5.each do |interest| %>
                        <div class="col-md-4">
                        <% checked = @user_interests.include? interest %>
                        <% a=interest.name.tr(" ","").downcase %>
                      
                        <input type="checkbox" id= "picture" class="img" <%= check_box_tag "interests[]", interest.id, checked, {:multiple => true} %>
                        <label for=picture class="lbl">
                        <%= interest.name %>
                        <br>
                        <%= image_tag("Interests/#{a}.jpg?id=#{a}")%>
                        </label>
                        </div>
                         <script>
                          var list = document.getElementsByClassName("img");
                          for (var i = 0; i < list.length; i++) {
                           list[i].setAttribute("id", "picture" + i);
                          }
                          var list = document.getElementsByClassName("lbl");
                          for (var i = 0; i < list.length; i++) {
                           list[i].setAttribute("for", "picture" + i);
                          }
                        </script>
                        
                        <% end %>
                    </div>
                    </div>
                    <div id="health_show" style="padding-left: 0px; padding-top: 20px; margin-bottom:100px; " class="col-md-12">
                    <p>Health</p>
                    <div class = "row">
                    <% @interests6.each do |interest| %>
                        <div class="col-md-4">
                        <% checked = @user_interests.include? interest %>
                        <% a=interest.name.tr(" ","").downcase %>
                    
                        <input type="checkbox" id= "picture" class="img" <%= check_box_tag "interests[]", interest.id, checked, {:multiple => true} %>
                        <label for=picture class="lbl">
                        <%= interest.name %>
                        <br>
                        <%= image_tag("Interests/#{a}.jpg?id=#{a}")%>
                        </label>
                        </div>
                         <script>
                          var list = document.getElementsByClassName("img");
                          for (var i = 0; i < list.length; i++) {
                           list[i].setAttribute("id", "picture" + i);
                          }
                          var list = document.getElementsByClassName("lbl");
                          for (var i = 0; i < list.length; i++) {
                           list[i].setAttribute("for", "picture" + i);
                          }
                        </script>
                        <% end %>
                    </div>
                 
                    </div>
                    <div id="social_show" style="padding-left: 0px; padding-top: 20px; margin-bottom:100px; " class="col-md-12">
                    <p>Social</p>
                    <div class = "row">
                    <% @interests7.each do |interest| %>
                        <div class="col-md-4">
                        <% checked = @user_interests.include? interest %>
                        <% a=interest.name.tr(" ","").downcase %>
                 
                        <input type="checkbox" id= "picture" class="img" <%= check_box_tag "interests[]", interest.id, checked, {:multiple => true} %>
                        <label for=picture class="lbl">
                        <%= interest.name %>
                        <br>
                        <%= image_tag("Interests/#{a}.jpg?id=#{a}")%>
                        </label>
                        </div>
                         <script>
                          var list = document.getElementsByClassName("img");
                          for (var i = 0; i < list.length; i++) {
                           list[i].setAttribute("id", "picture" + i);
                          }
                          var list = document.getElementsByClassName("lbl");
                          for (var i = 0; i < list.length; i++) {
                           list[i].setAttribute("for", "picture" + i);
                          }
                        </script>
                        <% end %>
                    </div>
                    
                    </div>
            <%= submit_tag :Update, :id=> @user.id %>
            <% end %>
            

            </div>


</div>
