<% @page_title = "edit" %>

<div class="Edit_Form">
    <h1>Sign up</h1>
    <%= form_for(:user, :url => {:action => 'update', :id => @user.id}, mehod: :put) do |f| %>
        <p> Email: </br> <%= f.text_field :email %></p>
        <p> password: </br> <%= f.text_field :password %></p>
        <p> name: </br> <%= f.text_field :name %></p>
        <p> surname: </br> <%= f.text_field :surname %></p>
        
        <%= f.submit :Edit %>
    <% end %>
</div>