
<h2>Your Matches</h2>
<h5>Below are a list of all users that match with your interests.</h5>
<br>
    
<div id="matches">
    <% @matched_users.each do |user, coefficient| %>
    <% if coefficient > 0.25 && session[:user_id] != user.id %>
        <div class="row margin_bottom">
            <div class="col-md-3" id="some_image">
                <%= image_tag user.avatar_url(:display), :class => "profile_image" %>
            </div>
        
            <div class="col-md-6" id="some_text">
                
                <div class="name">
                    <h3><%= link_to user.name, :controller => :user, :action => :show, :id => user.id %></h3>
                </div>
                
                <div class="common_interests">
                    
                    <% interests = User.get_common_interests_fixed(User.find(session[:user_id]), User.find(user.id), 3) %>
                    <% 
                        interest_names = []
                        interests.each do |i|
                            interest_names << i.name 
                        end
                    %>
                    
                    <% if interest_names.length > 0 %>
                       <h5><%= interest_names[0].capitalize %></h5> 
                        <% length = interest_names.length %>
                        <% if length > 1 %>
                            <% interest_names[1..interest_names.length].each do |interest_name| %>
                                <h5>,&nbsp;<%= interest_name.capitalize %></h5>
                            <% end %>
                        <% end %>
                    <% else %>
                        <h5>No common interests</h5>
                    <% end %>
                    
                </div>
                
                <div class="buttons">
                  
                   
                   <%= link_to :controller => :user, :action => :show, :id => user.id, :class => "btn-danger" do %>
                       <div class="btn btn-danger">Message</div>
                   <% end %>
                   
                   
                   <div class="favourites_button">
                       <!--<button type="button" class="btn btn-danger">Add to favourites</button>-->
                   </div>
                   
                </div>
            </div>
            
            <script>
                
            </script>
            <div class="col-md-3" id="percentage_bar">
                <% coefficient1 = coefficient.round(2) %>
                <div class="coefficient"><%= ((coefficient1*100).round).to_s + "%"%></div>
                <div id="progress<%= user.id %>"></div>
                <script>
                    $('#progress<%= user.id %>').circleProgress({
                        value:  <%= coefficient1 %> ,
                        size: 145,
                        startAngle: 4.71,
                        thickness: 7,
                        lineCap: "round",
                        fill: {
                            gradient: ["green","yellow" , "#FF6868"],
                        }
                    });
                </script>
            </div>
        </div>
    <% end %>
    <% end %>
</div>


