

<h2>Your Matches</h2>
<h5>Below are a list of all users that match with your interests.</h5>
<br>
    
    
<div id="matches">
    <% @matched_users.each do |user, coefficient| %>
    <% if coefficient > 0 && session[:user_id] != user.id %>
        <div class="row margin_bottom">
            <div class="col-md-3" id="some_image">
                <%= image_tag user.avatar_url(:display), :class => "profile_pic" %>
            </div>
        
            <div class="col-md-6" id="some_text">
                <div class="name">
                    <%= link_to user.name, :controller => :user, :action => :show, :id => user.id %>
                </div>
                
                <div class="common_interests">
                    <h5>Text</h5>
                    <h5>Text</h5>
                </div>
                
                <div class="buttons">
                   <div class="message_button">
                       <button type="button" class="btn btn-danger">Message</button>
                   </div>
                   
                   <div class="favourites_button">
                       <button type="button" class="btn btn-danger">Add to favourites</button>
                   </div>
                </div>
            </div>
            
            <script>
                
            </script>
            <div class="col-md-3" id="percentage_bar">
                <% coefficient1 = coefficient.round(2) %>
                <div class="coefficient"><%= ((coefficient1*100).round).to_s + "%"%></div>
                <div id="progress<%= user.id %>"></div>
                <script>
                console.log(<%= coefficient1 %>)
                    $('#progress<%= user.id %>').circleProgress({
                        value: <%= coefficient1 %> ,
                        size: 145,
                        startAngle: 4.71 ,
                        thickness: 7,
                        fill: {
                            gradient: ["green", "yellow", "#FF6868"]
                            // gradient: [["red", .2], ["green", .3], ["blue", .8]]
                        }
                    });
                </script>
            </div>
        </div>
    <% end %>
    <% end %>






                                        <% @matched_users.each do |user, coefficient| %>
                                            <% if coefficient > 0 && session[:user_id] != user.id %>
                                                <%= link_to user.name, :controller => :user, :action => :show, :id => user.id %>
                                                <%= user.surname %>
                                                <% coefficient = ((coefficient*100).to_f).ceil %>
                                                
                                                <%
                                                    match_type = "NO MATCH"
                                                    if coefficient > 0 && coefficient <= 20
                                                        match_type = "WEAK MATCH"
                                                        class_type = "weak_match"
                                                    elsif coefficient > 20 && coefficient <= 50
                                                        match_type = "NORMAL MATCH"
                                                        class_type = "normal_match"
                                                    elsif coefficient > 50 
                                                        match_type = "STRONG MATCH"
                                                        class_type = "strong_match"
                                                    end
                                                %>
                                                
                                                 <%= coefficient.to_s + "% "%>
                                                <span class=<%= class_type %>><%= match_type  %></span>
                                                
                                                </br>
                                            <% end %>
                                        <% end %>
</div>


