<div class="account_details">
    <p><%= @user.name %></p>
    <p><%= @user.surname %></p>
    <p><%= @user.email %></p>
    <p><%= link_to 'Edit these details', controller: 'user', action: 'edit', id: @user.id %></p>
    <p><%= link_to 'Get Matches', controller: 'user', action: 'match', id: @user.id %></p>
    <p><%= link_to 'Edit Choices', controller: 'user', action: 'choose_interests', id: @user.id %></p>
</div>