<div class="row" id="user_info">
<div class="col-md-2">
    <%= image_tag @user.avatar_url(:display), :id => "profile_image" %>
    <% if session[:user_id] != @user.id %>
        <p><%= @user.name %></p>
        <p><%= @user.surname %></p>
        <%= image_tag @user.avatar_url(:display), :class => "user_image" %>
        <p><%= link_to 'Message me', controller: 'conversation', action: 'message', id: @user.id %></p>
    <% end %>
</div>
<div class="col-md-3">
    <div class="left" id="user_details">
    <h2 class="inline_block_user"><%= @user.name %></h2>
    <p class="inline_block_user">University of Aberdeen</p>
    <% if false %>
    <% if session[:user_id] == @user.id %>
    <p><%= @user.surname %></p>
    <p><%= @user.email %></p>
    <p><%= link_to 'Edit these details', controller: 'user', action: 'edit', id: @user.id %></p>
    <p><%= link_to 'Edit Choices', controller: 'user', action: 'choose_interests', id: @user.id %></p>
    <% end %>
    <% end %>
    </div>
</div>
<div class="col-md-3">
    <div class="left" id="percentage">
    <p>Percentage Match:</p>
    </div>
</div>
</div>
<div class="row">
<div class="col-md-8">
    <h4 class="left">Similar Interests</h4>
</div>
<div class="col-md-4">
    <h4>Attending Events</h4>
    <h4>In Societies</h4>
</div>
</div>
<div class="row">
<div class="col-md-8">
<div id='calendar-wrapper' style='width: 100%; margin-right:auto; margin-left: auto'>
    <div id='calendar'>
    </div>
</div>
</div>
</div>   
<script>
$(document).ready(function() {

     function render(event, element) {
        console.log("RENDER");
        element.find('.fc-content').append('<div class="fc-separator"></div><p class="fc-description">'+ event.description + '</p></div>');
    }
    
    $('#calendar').fullCalendar({
        header: {
            left: 'prev',
            center: 'title',
            right: 'next',
        },
		defaultView: 'basicWeek',
		height: 500,
        timeFormat: 'H(:mm)', // uppercase H for 24-hour clock
        
        
		
		events: <%= @events_json %>,
		
	    eventRender: render,
    })
    
});
</script>

<!--
[
	{
		'title': 'Click for Google \n description and crap',
		url: 'http://google.com/',
		start: '2017-02-21T23:30:00',
	},
]
-->