<div class="row" id="user_info">
<div class="col-md-2">
    <%= image_tag @user.avatar_url(:display), :class => "profile_image" %>
</div>
<div class="col-md-3">
    <div class="left" id="user_details">
    <h2 class="inline_block_user"><%= @user.name.capitalize %></h2>
    </div>
    <div class="col-md-3">
        <div class="left" id="user_details">
        <h2 class="inline_block_user"><%= @user.name %></h2>
        </div>
    </div>
    <div class="col-md-3">
        <div class="left" id="percentage">
        <!--<p>Percentage Match: </p>
        <p></p>-->
        </div>
    </div>
    <div class="col-md-4">
        <% if session[:user_id] != @user.id %>
            <% in_favourites = User.find(session[:user_id]).get_favourites.include? @user %>
            <input class="star" type="checkbox" title="<%= if in_favourites then "Remove from favourites" else "Add to favourites" end %>" user_id="<%= @user.id %>" <%= if in_favourites then "checked" end %> />
        <% end %>
    </div>
</div>
<div class="row">
    <div class="col-md-8 left">
        <h4 class="left" id="two_line_fix">
            <% if session[:user_id] == @user.id %>
                Your
            <% else %>
                Similar
            <% end %>
            Interests
        </h4>
        <% User.get_common_interests(User.find(session[:user_id]), User.find(@user.id), important = true).each do |i| %>
        <div class="interest">
        <% a=i.name.tr(" -","") %>
        <div class="int_image">
        <%= image_tag("Interests/#{a}.jpg?id=#{a}", :class => "int_img")%>   
        </div>
        <p><%= i.name.split.map(&:capitalize).join(' ') %></p>
        </div>
        <% end %>
        <br>
        <br>
    </div>
    <div class="col-md-4" class="left">
        <% if session[:user_id] != @user.id %>
            <h4>Attending Events</h4>
            <% if @events.length == 0 %>
                <p>Not attending any events</p>
            <% else %>
                <% @events.each do |event| %>
                <%= link_to event.name, :controller => :event, :action => :show, :id => event.id %>
                <% end %>
            <% end %>
        <% end %>
        
        <h4>In Societies</h4>
        <% if @in_societies.length == 0 %>
            <p>Not in any societies</p>
        <% else %>
            <% @in_societies.each do |society|%>
                <%= link_to society.name, :controller => :society, :action => :show, :id => society.id %>
            <% end %>
        <% end %>
    </div>
</div>
<div class="row">
    <div class="col-md-8">
        <% if session[:user_id] == @user.id %>
            <div id='calendar-wrapper' style='width: 100%; margin-right:auto; margin-left: auto'>
                <div id='calendar'></div>
            </div>
        <% else %>
            <h4 class="left">Your conversation with <%= @user.name %></h4>
            <div class="messages"></div>
        <% end %>
    </div>
</div>   
<script>
$(document).ready(function() {

    function render(event, element) {
        console.log("RENDER");
        element.find('.fc-content').append('<div class="fc-separator"></div><p class="fc-description">'+ event.description + '</p></div>');
    }
    
    $('#calendar').fullCalendar({
        header: {
            left: 'prev',
            center: 'title',
            right: 'next',
        },
		defaultView: 'basicWeek',
		height: 500,
        timeFormat: 'H(:mm)', // uppercase H for 24-hour clock
        
        
		
		events: <%= @events_json %>,
		
	    eventRender: render,
    });
    
    
});
</script>

<% if !@con.nil? %>
    
    <script>
        var CON_ID = <%= @con.id %>
        $(document).ready(function() {
            $('.messages').messages(CON_ID);
        })
    </script>
<% end %>