<div class="row" id="user_info">
    <div class="col-md-2">
        <%= image_tag @user.avatar_url(:display), :class => "profile_image" %>
    </div>
    <div class="col-md-3">
        <div class="left" id="user_details">
            <h2 class="inline_block_user"><%= @user.name %></h2>
            
            <% if session[:user_id] != @user.id %>
                <button class="btn btn-danger" id="change_fav" user_id="<%= @user.id %>">
                    <% in_favourites = User.find(session[:user_id]).get_favourites.include? @user %>
                    <span class="<%= if in_favourites then "fav" else "non-fav" end %>"><%= if in_favourites then "Remove from favourites" else "Add to favourites" end %></span>
                </button>
            <% end %>
        </div>
    </div>
    <div class="col-md-3">
        <div class="left" id="percentage">
        <!--<p>Percentage Match: </p>
        <p></p>-->
        </div>
    </div>
    <div class="col-md-4">
    </div>
</div>
<div class="row">
    <div class="col-md-8 left">
        <h4 class="left" id="two_line_fix">
            <% if session[:user_id] == @user.id %>
                Your
            <% else %>
                Similar
            <% end %>
            Interests
        </h4>
        <% User.get_common_interests_fixed(User.find(session[:user_id]), User.find(@user.id), 5).each do |i| %>
        <div class="interest">
            <% a=i.name.tr(" -","") %>
            <div class="int_image">
                <%= image_tag("Interests/#{a}.jpg?id=#{a}", :class => "int_img")%>   
            </div>
            <p><%= i.name.split.map(&:capitalize).join(' ') %></p>
        </div>
        <% end %>
        <br>
        <br>
                <% if session[:user_id] == @user.id %>
            <div id='calendar-wrapper' style='width: 100%; margin-right:auto; margin-left: auto'>
                <div id='calendar'></div>
            </div>
        <% else %>
            <h4 class="left">Your conversation with <%= @user.name %></h4>
            <div class="messages"></div>
        <% end %>
    </div>
    <div class="col-md-4" class="left">
        <!-- favourite users -->
        <% if session[:user_id] == @user.id %>
            <h4>Favourite Users</h4>
            <% if @favourite_users.length > 0 %>
                <div id="user-mini-section">
                    <div class="user-mini-container">
                        <% @favourite_users.each do |fav| %>
                            <%= link_to :controller => :user, :action => :show, :id => fav.id do %>
                                <div class="user-mini-element" user_id="<%= fav.id %>">
                                    <div class="user-mini-info">
                                        <%= image_tag fav.avatar_url(:display), :class => "user-mini-image" %>
                                        <p><%= fav.name %> <%= fav.surname %></p>
                                    </div>
                                    <p class="special-action remove"><%= image_tag "close-cross.svg", :id => "close-cross" %></p>
                                </div>
                            <% end %>
                        <% end %>
                    </div>
                </div>
            <% else %>
                <p>see the matches page to find favourite users</p>
            <% end %>
        <% end %>
        
        <!-- societies -->
        <h4>In Societies</h4>
        <% if @in_societies.length > 0 %>
            <div class="user-mini-container">
                <% @in_societies.each do |soc| %>
                    <%= link_to :controller => :society, :action => :show, :id => soc.id do %>
                        <div class="user-mini-element">
                            <div class="user-mini-info">
                                <%= image_tag soc.avatar_url(:display), :class => "user-mini-image" %>
                                <p><%= soc.name %></p>
                            </div>
                        </div>
                    <% end %>
                <% end %>
            </div>
        <% else %>
            <p></p>See the recommender docs page to find suitable socs</p>
        <% end %>
        
        <!-- events -->
        <% if @events.length > 0 %>
            <h4>Attending Events</h4>
            <div class="user-mini-container">
                <% 
                    cur = 0
                    max_events = 25
                %>
                <% @events.each do |event| %>
                    <% cur += 1 %>
                    <% break if cur > max_events %>
                    <%= link_to :controller => :event, :action => :show, :id => event.id do %>
                        <div class="user-mini-element">
                            <div class="user-mini-info">
                                <div class="date date-mini">
                                	<span class="binds"></span>
                                	<span class="month"><%= event.date.strftime("%B")[0..2] %></span>
                                	<h1 class="day"><%= event.date.day %></h1>
                                </div>
                                <p><%= event.name %></p>
                            </div>
                        </div>
                    <% end %>
                <% end %>
            </div>           
        <% end %>
    </div>
</div>

<script>
$(document).ready(function() {

    function render(event, element) {
        console.log("RENDER");
        element.find('.fc-content').append('<div class="fc-separator"></div><p class="fc-description">'+ event.description + '</p></div>');
    }
    console.log(<%= @events_json %>);
    
    $('#calendar').fullCalendar({
        header: {
            left: 'prev',
            center: 'title',
            right: 'next',
        },
		defaultView: 'basicWeek',
		height: 500,
        timeFormat: 'H(:mm)', // uppercase H for 24-hour clock
        
        
		
		events: <%= @events_json %>,
		
	    eventRender: render,
    });
    
    
});
</script>

<% if !@con.nil? %>
    
    <script>
        var CON_ID = <%= @con.id %>
        $(document).ready(function() {
            $('.messages').messages(CON_ID);
        })
    </script>
<% end %>

<script>
    $(document).ready(function() {
        $(".special-action").click(function(e) {
            
            if (!$(this).hasClass("remove")) {
                return;
            }
            
            e.preventDefault();
            var parent = $(this).parent();
            var id = parent.attr("user_id");
            
            switch_favourite(id);
            parent.parent().remove(); // delets the anchor tag
            if ($('#user-mini-section .user-mini-container').children().length <= 0) {
              $('#user-mini-section').remove();
            }
        });
    })
</script>

<script>
    $(document).ready(function() {
        initFavs();
        initUserMini();
    })
</script>