<% if @search_string.nil? %>
    Search string invalid or too long
<% else %>

    <p>You searched For: <%= @search_string %></p>
    <p>Results: </p>
    
    <% @results.each do |result| %>
        <p><%= result['type'] %>: <a href="<%= result['link'] %>"><%= result['title'] %> <%= if !result['img'].nil? then image_tag(result['img']) end %></a></p>
    <% end %>

<% end %>