<% if @search_string.nil? %>
    <h1>Search string invalid or too long</h1>
<% else if @results.any? == false %>
    <h1>No results found for: <%= @search_string %></h1>
<% else %>

    <h1>Search resuls for: <%= @search_string %></h1>
    <br>
    
    
    
    <% @results.each do |result| %>
        <div class="search_result">
        <% if result['type'] == "Event" %>
            <div class="date" style="margin-bottom: 20px">
                <span class="binds"></span>
                <span class="month"><%= result['month'] %></span>
                <h1 class="day"><%= result['day'] %></h1>
            </div>
        <% else %>
            <%= image_tag(result['img'], :class=>"search_image") %>
        <% end %>
        <div class="search_result_text">
        <h3><%= result['type'] %></h3>
        <h4><a href="<%= result['link'] %>"><%= result['title'] %></a></h4>
        </div>
        </div>
        <div class="divider"></div>
    <% end %>

<% end %>
<% end %>