<div class="ui segment">
 <h3>Mailbox</h3>
 <div class="ui list">
  <div class=”item”>+
   <% @conversations.each do |conversation| %>
     <li><%= link_to conversation.recipient_id, conversation_messages_path(conversation)%></li>
    
   <% end %>
  </div>
 </div>
</div>
<div class="ui segment">
 <h3>All Users</h3>
  <div class="ui list">
   <% @users.each do |user| %>
   
    <div class="item">
   <%= user.name %> 
   <li>
    <%= form_for(:conversation, :url => {:controller => 'conversation', :action => 'create'},:html => {:id => "form_" + user.id.to_s}) do |f| %>
        <%= f.hidden_field :sender_id, :value => session[:user_id] %>
        <%= f.hidden_field :recipient_id, :value => user.id %>
        
        <a href="#" onclick= <%= "document.getElementById('form_#{user.id}').submit();" %> >MESSAGE ME</a>
    <% end %>
   </li>
 </div>
  <% end %>
 </div>
</div>