<script>
    var CON_ID = <%= @con.id %>
    var LAST_MESSAGE_TIME = new Date(<%= @newest_message %>);
    var users = <%= @users.to_json.html_safe %>
    LAST_MESSAGE_TIME = LAST_MESSAGE_TIME.getTime();
</script>

YOUR ID <%= session[:user_id] %>
<br/>

number_of messages <%= @msgs.length %>

<br/><br/>

<div class="messages">
    
</div>

<script>
    $(document).ready(function() {
        $('.messages').messages(CON_ID);
    })
</script>
    

<% form_tag create_message_path do %>
    <p> Message: <%= text_field_tag :body, "", :id => "body"%></p>
    <%= hidden_field_tag :conversation_id,  @con.id, :id => "conversation_id" %>
    
    
    <%= submit_tag :Send, :id => "send_message" %>
<% end %>

<script>
    

    
</script>