YOUR ID <%= session[:user_id] %>
<br/>

number_of messages <%= @msgs.length %>

<br/><br/>

<% @msgs.each do |msg| %>

    <p>FROM: <%= @users[msg.sender_id].name %> AT: <%= msg.created_at %></p>
    <p><%= msg.body %></p>
    
    <br/><br/>
    
    
<% end %>

<%= form_tag create_message_path do %>
    <p> Message: <%= text_field_tag :body %></p>
    <%= hidden_field_tag :conversation_id,  @con.id %>
    
    
    <%= submit_tag :Send %>
<% end %>