<script>
    var CON_ID = <%= @con.id %>
    var LAST_MESSAGE_TIME = new Date("<%= @msgs[-1].read_attribute_before_type_cast("created_at") %>");
    LAST_MESSAGE_TIME = LAST_MESSAGE_TIME.getTime();
</script>

YOUR ID <%= session[:user_id] %>
<br/>

number_of messages <%= @msgs.length %>

<br/><br/>

<div class="messages">
    <% @msgs.each do |msg| %>
    
        <p>FROM: <%= @users[msg.sender_id].name %> AT: <%= msg.created_at %></p>
        <p><%= msg.body %></p>
        
        <br/><br/>
    <% end %>
    
</div>
    
    

<%= form_tag create_message_path do %>
    <p> Message: <%= text_field_tag :body, "", :id => "body"%></p>
    <%= hidden_field_tag :conversation_id,  @con.id, :id => "conversation_id" %>
    
    
    <%= submit_tag :Send, :id => "send_message" %>
<% end %>

<script>
    $('#send_message').click(function(e) {
        
        e.preventDefault();
        
        var msg = $("#body").val();
        var con_id = $("#conversation_id").val();
        
        $.ajax({
            type: "POST",
            url: "<%= create_message_path %>",
            data: {
                conversation_id: con_id,
                body: msg
            },
            success: function() {
                App.conversation.message(con_id, msg);
                
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert(xhr.status);
                alert(xhr.statusText);
                alert(xhr.responseText);
            }
        })
        
    });
    
    function reload_messages(id) {
        var url = "/conversation/" + id;
        
		$.ajax({
			type: "GET",
			url: url,
			dataType: "json",
			success: function(messages) {
			    render_messages(messages);
			}
		});
    
    }
    
    function render_messages(messages) {
        messages.reverse()
        
        var lastTime = LAST_MESSAGE_TIME;
        
        for (var i = 0; i < messages.length; i++) {
            var message = messages[i];
            
            var date = new Date(message.created_at);
            
            if (date.getTime() > LAST_MESSAGE_TIME) {
               lastTime = date.getTime();
               
               $(".messages").append("<p>" + message.body + "</p><br/><br/>");
               
            }
            
            LAST_MESSAGE_TIME = lastTime;
        }
    }
    
</script>