<!DOCTYPE html>
<html>
<head>
    <title>Unimatch Login</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'login_page', media: 'all', 'data-turbolinks-track': 'reload' %>
</head>
<body>
    <div class="home_logo centered nonselect">
        <%= image_tag("unimatch_logo.png", border: 0, height: "100px", alt: "UniMatch Logo", :class => "logo", :class => "block_centre") %>
    </div>
    <div class="block_centre" id="form_container">
                <h2>Register</h2>
        <div class="block_centre">
            <%= form_for(:user, :url => {:controller => 'user', :action => 'create'}) do |f| %>
                <fieldset class="block_centre">
                    <div class="form-group">
                        <label>Email address</label>
                        <input type="text" class="form-control" placeholder="email" aria-describedby="basic-addon2" <%= f.text_field :email %>
                        <small id="emailHelp" class="form-text text-muted">Needs to end in .ac.uk</small>
                    </div>
                    <div class="form-group">
                        <label>Password</label>
                        <input type="password" class="form-control" placeholder="password" aria-describedby="basic-addon2" <%= f.password_field :password %>
                    </div>
                    <div class="form-group">
                        <label>Password confirmation</label>
                        <input type="password" class="form-control" placeholder="password" aria-describedby="basic-addon2" <%= f.password_field :password_confirmation %>
                    </div>
                    <div class="form-group">
                        <label>Name</label>
                        <input type="text" class="form-control" placeholder="name" aria-describedby="basic-addon2" <%= f.text_field :name %>
                    </div>
                    <div class="form-group">
                        <label>Surname</label>
                        <input type="text" class="form-control" placeholder="surname" aria-describedby="basic-addon2" <%= f.text_field :surname %>
                    </div>
                    <div class="form-group">
                        <label>Profile Picture</label>
                        <input type="file" class="form-control" placeholder="profile pic" aria-describedby="basic-addon2" <%= f.file_field :avatar %>
                    </div>
                </fieldset>
                <%= submit_tag "Register", {:id => 'login', :class => "btn btn-primary"} %>
            <% end %>
        </div>
        </div>
        </div>
    </div>
</body>