
<% if flash[:alert] %>
  <div class="panel-heading" id="notice">
    <legend><%= flash[:alert] %></legend>
  </div>
<% else %>
  <div class="panel-heading">  
  <legend>Please Log In</legend>
  </div>
<% end %>
<%= form_tag do %>
<div class="center"
  <div class="Sign_Form">
    <fieldset>
      <div class="input-group">
        <input type="text" class="form-control" placeholder="email" aria-describedby="basic-addon2" <%= text_field_tag :email, params[:email] %>
      </div>
      <br>
      <div class="input-group">
        <input type="password" class="form-control" placeholder="password" aria-describedby="basic-addon2" <%= password_field_tag :password, params[:password] %>
      </div>
      <div>
        <%= submit_tag "Login", {:id => 'login'} %>
        <button type="button"><%= link_to "register", controller: 'user', action: 'new'  %></button>
      </div>
    </fieldset>
  </div>
  </div>
  </div>
<% end %>
