<!DOCTYPE html>
<html>
  <head>
    <title>Unimatch</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    
    <% if session[:user_id] %>
      <div class="nav">
      <%= link_to image_tag("unimatch_logo.png", border: 0, height: "100", alt: "UniMatch Logo"), root_path, {class: "inline_block"} %>
      <div id="desktop_nav">
      <ul>
        <li><%= link_to 'Home', :controller => :user, :action => :show ,  id: session[:user_id] %></li>
        <li><%= link_to 'Matches', :controller => :user, :action => :match,  id: session[:user_id] %></li>
        <li><%= link_to 'Societies', :controller => :society, :action => :match,  id: session[:user_id] %></li>
        <li><%= link_to 'Create Event', :controller => :event, :action => :new,  id: session[:user_id] %></li>
        <li><%= link_to 'Feedback', '#' %></li>
      </ul>
      </div>
      <div id = "details">
      <p>You are logged in as <%= link_to session[:user_name], controller: 'user', action: 'show', id: session[:user_id] %> <%= link_to "logout", logout_url %></p>
      </div>
      </div>
    <% end %>
    <%= yield %>
  </body>
</html>
