<!DOCTYPE html>
<html>
  <head>
    
    <title>UniMatch</title>
    
    <%= csrf_meta_tags %>
    <%= favicon_link_tag 'favicon.ico' %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="turbolinks-cache-control" content="no-cache">
  </head>
  <body>
    <script>
      window.onunload = function(){}
    </script>
    <div class="header">
      <div id="header_text_container">
        <h1 id="header_text"><%= link_to 'UniMatch', :controller => :user, :action => :show ,  id: session[:user_id] %></h1>
      </div>
    <% if session[:user_id] %>
      <div id="nav_trigger">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
      </div>
      <div id="mySidenav" class="sidenav">
      <ul id="navigation_mobile">
        <a href="javascript:void(0)" id="closebtn" >&times;</a>
        <li><%= link_to 'Matches', :controller => :user, :action => :match,  id: session[:user_id] %></li>
        <li><%= link_to 'Messages', :controller => :user, :action => :match,  id: session[:user_id] %></li>
        <li><%= link_to 'Societies', :controller => :event, :action => :new,  id: session[:user_id] %></li>
        <li><%= link_to 'Notifications', :controller => :event, :action => :new,  id: session[:user_id] %></li>
        <li><%= link_to 'Feedback', 'https://goo.gl/forms/QwN1Uu2ww5J3jIdz1', :target => "_blank" %></li>
        <li><%= link_to "logout", logout_url, id: 'logout' %></li>
      </ul>
      </div>
      <div id="desktop_nav">
      <ul id="navigation">
        <li><%= link_to 'Home', :controller => :user, :action => :show ,  id: session[:user_id] %></li>
        <li><%= link_to 'Matches', :controller => :user, :action => :match,  id: session[:user_id] %></li>
        <li><%= link_to 'Societies', :controller => :society, :action => :match,  id: session[:user_id] %></li>
        <li><%= link_to 'Create Event', :controller => :event, :action => :new,  id: session[:user_id] %></li>
        <li><%= link_to 'Feedback', 'https://goo.gl/forms/QwN1Uu2ww5J3jIdz1', :target => "_blank" %></li>
      </ul>
      </div>
      <div id = "details">
      <div id = "user_image">
      </div>
      <p id="user_name"><%= session[:user_name] %></p>
      <div id = "details_dropdown">
        <p> <%= link_to "logout", logout_url, id: 'logout' %></p>
        <p>
          <div><div class="notifications-link"></div></div>
        </p>
      </div>
    </div>
    <% end %>
    <% if flash[:notice] %>
      <div class="notice"><legend><%= flash[:notice] %></legend></div>
    <% end %>
    </div>
    <div class="container">
    <%= yield %>
    <div class="notifications"></div>
    <!-- list of notifs defined as json in application_controller -->
    <script>
      $(document).ready(function() {
        $(".notifications-link").notificationsLink();
        $(".notifications").addNotifications(<%= @notifs %>);
      });
    </script>
    </div>
  </body>
</html>
