<!DOCTYPE html>
<html>
  <head>
    <title>UniMatch</title>
    <%= csrf_meta_tags %>
    <%= favicon_link_tag 'favicon.ico' %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="/assets/circle-progress.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.14.1/moment.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="turbolinks-cache-control" content="no-cache">
     <meta name="viewport" content="width=device-width initial-scale = 1.0 maximum-scale=1.0 user-scalable=no" />
  </head>
  <body>
    <script>
      window.onunload = function(){}
    </script>
    <% if flash[:success] %>
      <div class="alert alert-success fade in application_flash">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <strong><%= flash[:success] %></strong>
      </div>
    <% end %>
    <% if flash[:warning] %>
      <div class="alert alert-warning fade in application_flash">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <strong><%= flash[:warning] %></strong>
      </div>
    <% end %>
    <div class="header">
      <div id="header_text_container">
        <h1 id="header_text"><%= link_to 'UniMatch', :controller => :user, :action => :show ,  id: session[:user_id] %></h1>
      </div>
    <% if session[:user_id] %>
    <div id="search">
    <form action="/search" method="get">
      <input type="text" placeholder="search..." name="search_query" id="search_query">
        <button id="submit-search" type="submit"><i class="glyphicon glyphicon-search white"></i></button>
      </div>
    </form>
      <div id="nav_trigger">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
      </div>
      <div id="mySidenav" class="sidenav">
      <ul id="navigation_mobile">
        <a href="javascript:void(0)" id="closebtn" >&times;</a>
        <li><%= link_to 'Matches', :controller => :user, :action => :match %></li>
        <li><%= link_to 'Messages', :controller => :user, :action => :match,  id: session[:user_id] %></li>
        <li><%= link_to 'Societies', :controller => :event, :action => :new,  id: session[:user_id] %></li>
        <li><%= link_to 'Notifications', :controller => :event, :action => :new,  id: session[:user_id] %></li>
        <li><%= link_to 'Feedback', 'https://goo.gl/forms/QwN1Uu2ww5J3jIdz1', :target => "_blank" %></li>
        <li><%= link_to "logout", logout_url, id: 'logout' %></li>
      </ul>
      </div>
      <div id="desktop_nav">
        <ul id="navigation">
          <li>
          </li>
          <li><%= link_to 'Home', :controller => :user, :action => :show ,  id: session[:user_id] %></li>
          <li><%= link_to 'Matches', :controller => :user, :action => :match %></li>
          <li><%= link_to 'Societies', :controller => :society, :action => :match %></li>
          <li><%= link_to 'Create Event', :controller => :event, :action => :new,  id: session[:user_id] %></li>
          <li><%= link_to 'Feedback', 'https://goo.gl/forms/QwN1Uu2ww5J3jIdz1', :target => "_blank" %></li>
        </ul>
      </div>
      <div class="notifications-link"><div class="notifications"></div></div>
      <div id="details">
        <div id="user_image">
          <%= image_tag @image_thumbnail, :class => "user_image_thubmnail" %>
        </div>
        <div id = "details_dropdown">
          <%= link_to User.find(session[:user_id]).name.capitalize, controller: :user, action: :show, id: session[:user_id] %>
          <%= link_to 'Edit details', controller: 'user', action: 'edit', id: @logged_user.slug %>
          <%= link_to 'Edit interests', controller: 'user', action: 'choose_interests', id: @logged_user.slug %>
          <%= link_to "Logout", logout_url, id: 'logout' %>
        </div>
      </div>
    <% end %>
    <% if flash[:notice] %>
      <div class="notice"><legend><%= flash[:notice] %></legend></div>
    <% end %>
    </div>
    <div class="container shadow">
    <%= yield %>
    <!-- list of notifs defined as json in application_controller -->
    
    <script>
      $(document).ready(function() {
        $('#details').click(function (e) {
          $('#details_dropdown').toggle();
        })
        
        
        $(".notifications-link").notificationsLink();
        $(".notifications").addNotifications(<%= @notifs %>);
        
        //submit search on enter
        $("#search_query").keypress(function(e) {
          if (event.which == 13) {
            e.preventDefault();
            console.log("pressed enter");
            $(this).closest("form").submit();
          }
        })
      });
    </script>
    
    </div>
    
    <div class="footer6">
      <%= image_tag("unimatch_logo.png", border: 0, height: "60px", width: "152px", alt: "UniMatch") %>
    </div>
    
  </body>
</html>
