<!DOCTYPE html>
<html>
  <head>
    <title>UnimatchRails</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    
    <h1 id="header_text">UniMatch</h1>
    
    <% if session[:user_id] %>
      <div class="nav_left">
      <p>You are logged in as <%= session[:user_name] %> <%= link_to "logout", '/logout' %></p>
      </div>
    <% end %>
    <%= yield %>
  </body>
</html>
