<% @page_title = "create event" %>

<div class="create_form">
    <div class="text_container">
        <h2>Create a new event</h2>
    </div>
    <div class="field_container">
        <h5>Society:</h5>
        <!--<%= select_tag 'society_id', options_for_select(@choices.collect{ |c| [c["name"], c["value"]] }) %>-->
        <div class="dropdown">
            <button class="btn btn-danger dropdown-toggle" type="button" data-toggle="dropdown">Choose society
            <span class="caret"></span></button>
            <ul class="dropdown-menu">
                <% @choices.collect do |c| %>
              <li><a href="#"><%= c["name"]%> <%= c["value"]%> </a></li>
              <!--<li><a href="#"><%= c["name"]%> <%= c["value"]%> </a></li>-->
              <%end%>
            </ul>
        </div>

    </div>
    <%= form_for(:event, :url => {:controller => 'event', :action => 'create'}) do %>
        <div class="field_container">
            <h5>Event Title:</h5> 
            </br> <%= text_field_tag :name, nil, class: 'form_control event_title' %>
        </div>
        <div class="field_container">
            <h5>Description:</h5>
            </br> <%= text_area_tag :description, nil, cols: 35, rows: 5, class: 'form_control description'  %>
        </div>
        <div class="field_container">
            <h5>Location: </h5>
            </br><%= text_field_tag :location, nil, class: 'form_control location'  %>
        </div>
        <div class="field_container">
            <h5>Cost:</h5>
            </br><%= number_field_tag :cost, nil, class: 'form_control cost', placeholder: '£', min: 0  %>
        </div>
        <div class="field_container" id="date_time_box">
           
            <div class="date">
                <h5>Date</h5>
                </br><%= text_field_tag :startdate, nil, class: 'form_control', id: 'date_time'   %>
            </div>
            
            <div class="time">
                <h5>Time</h5>
                </br><%= time_field_tag :hour, nil, class: 'form_control hour', id: 'date_time'  %>
            </div>
            
        </div>


        <%= check_box_tag :recurring %>
        <div id="burger-recurring">
            <p> Once every week(s)</br> <%= text_field_tag :frequency %></p>
            <p>End date:</br> <%= text_field_tag :enddate %></p>
        </div>
        
        
        
        <%= submit_tag :Signup %>
    <% end %>
</div>












<script>
    $(document).ready(function() {
        $("#burger-recurring").hide();
    });
    
    $("#recurring").change(function(){
        if ($('#recurring').is(":checked")) {
            $("#burger-recurring").show();
        } else {
            $("#burger-recurring").hide();
        }
    });
    
</script>
