<% @page_title = "create event" %>

<div class="whatevs">
    <h2>Create Event</h2>
    <%= form_for(:event, :url => {:controller => 'event', :action => 'create'}) do %>
        <p> Name: </br> <%= text_field_tag :name %></p>
        <p> Description: </br> <%= text_area_tag :description, nil, cols: 20, rows: 10 %> </p>
        <p> Location: </br> <%= text_field_tag :location %></p>
        <p> Cost: </br> <%= number_field_tag :cost %>£</p>
        <p> Date of Event: </br> <%= text_field_tag :startdate %></p>
        <p> Time(HH:MM): </br> <%= text_field_tag :hour %> : <%= text_field_tag :minute %></p>
        <!--<p> Recurring (Check this box if the event is happening many times, on the same day of the week): <%= check_box_tag :recurring %></p>-->
        <div id="burger-recurring">
            <p> Frequency (1 every week, 2 every two weeks, etc.): </br> <%= text_field_tag :frequency %></p>
            <p> Date of the last event: </br> <%= text_field_tag :enddate %></p>
        </div>
        
        <!-- drop down list of societies administered by logged in user -->
        <p> <%= select_tag 'society_id', options_for_select(@choices.collect{ |c| [c["name"], c["value"]] }) %></p>
        
        <%= submit_tag :Signup %>
    <% end %>
</div>

<script>
    $(document).ready(function() {
        $("#burger-recurring").hide();
    });
    
    $("#recurring").change(function(){
        if ($('#recurring').is(":checked")) {
            $("#burger-recurring").show();
        } else {
            $("#burger-recurring").hide();
        }
    });
    
</script>
