<% @page_title = "Event page" %>

<div class="event-wrapper">
    <div class="row event-info">
        <div class="row event-title">
            <div class="col-md-12">
                <div class="event-header">
                    <h1><%= @event.name %></h1>
                    <h5>Hosted by: <%= if @society != nil then @society.name else User.find(@event.user_id).name end %></h5>
                </div>
            </div>
        </div>
        
        <div class="row event-eval">
            <div class="col-md-3">
                <div class="date" style="margin-bottom: 20px">
                	<span class="binds"></span>
                	<span class="month"><%= @event.date.strftime("%B")[0..2] %></span>
                	<h1 class="day"><%= @event.date.day %></h1>
                </div>
                <h5><%= @time_str %></h5>
                <h4><%= @event.location %></h4>
                <%= link_to controller: 'event', action: 'join_leave', id: @event.id do %>
                   <div class="btn btn-danger"><%= if @participates then "Leave Event" else "Join Event" end %></div>
                <% end %>
            </div>
            <div class="col-md-6">
                <p class="event-description"><%= @event.description %></p>
            </div>
            <div class="col-md-3">
                <!-- left empty on purpose -->
            </div>
        </div>
        
    </div>
    
    <div class="row event-activity">
    </div>
</div>