<% @page_title = "Event page" %>

<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<div class="event-wrapper">
    <div class="row event-info">
        <div class="row event-title">
            <div class="col-md-12">
                <div class="event-header">
                    <h1><%= @event.name %></h1>
                    <h5>Hosted by: <%= if @society != nil then @society.name else User.find(@event.user_id).name end %></h5>
                    <h4><a href="#" id="participants-btn" style="text-decoration: underline; color: black"><%= @participants.length %> attending this event</a></h4>
                </div>
            </div>
        </div>
        
        <div class="row event-eval">
            <div class="col-md-2">
                <div class="date" style="margin-bottom: 20px">
                	<span class="binds"></span>
                	<span class="month"><%= @event.date.strftime("%B")[0..2] %></span>
                	<h1 class="day"><%= @event.date.day %></h1>
                </div>
                <h5><%= @time_str %></h5>
                <h4><%= @event.location %></h4>
                <%= link_to controller: 'event', action: 'join_leave', id: @event.id do %>
                   <div class="btn btn-danger"><%= if @participates then "Leave Event" else "Join Event" end %></div>
                <% end %>
                <div class="btn btn-danger open-modal" id="invite-btn">Invite</div>
            </div>
            <div class="col-md-7">
                <p class="event-description"><%= @event.description %></p>
            </div>
        </div>
        
    </div>
    
    <div class="row event-activity">
    </div>
</div>

<!-- The Modal -->
<div class="modal" id="modal">

  <!-- Modal content -->
    <div class="invite-modal-wrapper">
        <div class="row">
            <div class="col-md-11">
                <ul class="nav nav-tabs nav-justified invite-tabs">
                    <li class="active"><a class="tab-link" data-toggle="tab" href="#menu1">Invite</a></li>
                    <li><a class="tab-link" data-toggle="tab" href="#menu2">Invited</a></li>
                    <li><a class="tab-link" data-toggle="tab" href="#menu3">Particitants</a></li>
                </ul>
            </div>
            <div class="col-md-1">
                <span class="close-modal" id="close-modal">&times;</span>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="scroll-box-wrapper">
                    <div class="tab-content">
                        <div id="menu1" class="tab-pane fade in active">
                            <% if @favourite_to_invite.length > 0 %>
                                <h4>Invite Favourite Users</h4>
                                <div id="user-mini-section">
                                    <div class="user-mini-container">
                                        <% @favourite_to_invite.each do |fav| %>
                                            <%= link_to :controller => :user, :action => :show, :id => fav.id do %>
                                                <div class="user-mini-element" user_id="<%= fav.id %>">
                                                    <div class="user-mini-info">
                                                        <%= image_tag fav.avatar_url(:display), :class => "user-mini-image" %>
                                                        <p><%= fav.name %> <%= fav.surname %></p>
                                                    </div>
                                                    <p class="special-action remove"><span id="invite">invite</span></p>
                                                </div>
                                            <% end %>
                                        <% end %>
                                    </div>
                                </div>
                            <% end %>
                            <% if @society != nil and @members_to_invite.length > 0 and @is_admin %>
                            <h4>Invite Society Members</h4>
                                <div id="user-mini-section">
                                    <div class="user-mini-container">
                                        <% @members_to_invite.each do |mem| %>
                                            <%= link_to :controller => :user, :action => :show, :id => mem.id do %>
                                                <div class="user-mini-element" user_id="<%= mem.id %>">
                                                    <div class="user-mini-info">
                                                        <%= image_tag mem.avatar_url(:display), :class => "user-mini-image" %>
                                                        <p><%= mem.name %> <%= mem.surname %></p>
                                                    </div>
                                                    <p class="special-action remove"><a href="#" id="invite">invite</a></p>
                                                </div>
                                            <% end %>
                                        <% end %>
                                    </div>
                                </div>
                            <% end %>
                        </div>
                        <div id="menu2" class="tab-pane fade">
                            <h3>Invited: <%= @invited.length %></h3>
                            <% if @invited.length > 0 %>
                                <div id="user-mini-section">
                                    <div class="user-mini-container">
                                        <% @invited.each do |mem| %>
                                            <%= link_to :controller => :user, :action => :show, :id => mem.id do %>
                                                <div class="user-mini-element" user_id="<%= mem.id %>">
                                                    <div class="user-mini-info">
                                                        <%= image_tag mem.avatar_url(:display), :class => "user-mini-image" %>
                                                        <p><%= mem.name %> <%= mem.surname %></p>
                                                    </div>
                                                </div>
                                            <% end %>
                                        <% end %>
                                    </div>
                                </div>
                            <% end %>
                        </div>
                        <div id="menu3" class="tab-pane fade">
                            <h3>Particitants <%= @participants.length %></h3>
                            <% if @participants.length > 0 %>
                                <div id="user-mini-section">
                                    <div class="user-mini-container">
                                        <% @participants.each do |mem| %>
                                            <%= link_to :controller => :user, :action => :show, :id => mem.id do %>
                                                <div class="user-mini-element" user_id="<%= mem.id %>">
                                                    <div class="user-mini-info">
                                                        <%= image_tag mem.avatar_url(:display), :class => "user-mini-image" %>
                                                        <p><%= mem.name %> <%= mem.surname %></p>
                                                    </div>
                                                </div>
                                            <% end %>
                                        <% end %>
                                    </div>
                                </div>
                            <% end %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    var modal = $('#modal');
    var btn = $(".open-modal");
    var close = $("#close-modal");
    
    btn.click(function() {
        modal.show();
    });
    
    close.click(function() {
        modal.hide();
    })

</script>

<script>
    $(document).ready(function() {
        $(".special-action").click(function(e) {
            
            if (!$(this).hasClass("remove")) {
                return;
            }
            
            e.preventDefault();
            var parent = $(this).parent();
            var id = parent.attr("user_id");
            
            invite(id);
            parent.remove(); // delets the anchor tag and everything inside
        });
    })
    
    function invite(id) {
        url = '/event/invite'
        $.ajax({
    		type: 'POST',
    		url: url,
            data: {
                event_id: <%= @event.id %>,
                user_id: id,
            },
            success: function() { 
                console.log("invited");
            },
            
            error: function(xhr, ajaxOptions, thrownError) {
                alert(xhr.status)
                alert(xhr.statusText)
                alert(xhr.responseText)	
            }
    	});
    }
</script>


<script>
    $(document).ready(function() {
        initUserMini();
    })
</script>